debug_product_data.json
__pycache__/
data/.ipynb_checkpoints/
data/Untitled.ipynb
data/skincare_products_clean.csv
dynamic_skincare_scraper.py
incidecoder_function_scrape_partial.json
incidecoder_products.csv
incidecoder_products.json
ingredients-skimthrough-table.html
ingredients_list_page_based_on_funct.html
notebooks/
product.html
product.py
product_list_page_based_on_ingrid.html
products.js
scraper_claude.py
scraper_claude_copy.py
scraper_scaled_up.py
scraper_scaled_up_2.py
skincare_scraper.py
web_scraper_based_on_ingred_funct.py
